%tr
  %td= presentation.title
  %td= presentation.description
  %td= link_to 'Show', show_presentation_path(presentation)
  %td= link_to 'Edit', edit_presentation_path(presentation)
  %td= link_to 'Destroy', presentation, method: :delete,
    data: { confirm: 'Are you sure?' }
